doctype html
include navbar
html(lang='en')
  head
    link(rel='stylesheet', href='css/chat.css')
    script(src='javascript/chat.js')
  body
    .page-content
      #contact-panel
        .lds-css.ng-scope.left
          .lds-rolling
            div
        #no-matches-contact You have no matches!
      #chat-panel
        #chat-log-holder
        #chat-input-bar
          textarea(type="text" placeholder="Send a message")#chat-input
          #chat-send-btn.fa.fa-envelope.fa-2x
      #info-panel
        .lds-css.ng-scope
          .lds-rolling
            .ldiv
        #active_pic
          #active-profile-img-overlay
            .img-nav#img-left-nav
              i.fa.fa-angle-left.fa-2x
            .img-nav#img-right-nav
              i.fa.fa-angle-right.fa-2x
        div
          #active_name
          | , 
          #active_age
        #active_about
        | <br /><strong>Event(s) Matched:<br /></strong> 
        #active_events
        button.remove_friend Remove User
