extends layout

block content
  h1 Users
  table
    tr
      th id
      th name
      th dob
      th gender
      th pictures(byte string)
    each user in users
      tr
        td
          = user.id
        td
          = user.name
        td
          = user.dob
        td
          = user.gender
        td
          = user.pictures
