* {
  box-sizing: border-box;  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  min-width: 930px;
  height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  flex-grow: 1;
}

#contact-panel {
  width: 300px;
  min-width: 300px;
  overflow-y: scroll;
}

#no-matches-contact {
  display: none;
  margin: 40px 20px;
  text-align: center;
}

.contact {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  cursor: pointer;
}

.contact .pic {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #bbb;
}

.contact .text_info {
  display: inline-block;
  margin-left: 10px;
  flex-grow: 1;
}

.contact .name {
  margin-bottom: 5px;
}

.contact .last_msg {
  color: rgba(153, 153, 153, 1);
}

#chat-panel {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex-grow: 1;
  overflow-x: hidden;
}

#chat-log-holder {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
}

.chat-log {
  display: none;
}

.message_row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.message_row .spacer {
  flex-grow: 1;
}

.message {
  min-width: 1%;
  word-wrap: break-word;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.spacer {
  width: 30%;
}

.message_row.to .message {
  color: white;
}

.message_row.from .message {
  background-color: #dedede;
}

#chat-input-bar {
  display: flex;
  min-height: 75px;
  max-height: 75px;
  border-top: 1px solid black;
}

#chat-input {
  padding: 8px;
  flex-grow: 1;
  font-size: 20px;
  resize: none;
}

#chat-send-btn {
  display: flex;
  justify-content: center;
  width: 75px;
  border-left: 1px solid black;
  cursor: pointer;
}

#chat-send-btn::before {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#info-panel {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
  padding: 15px;
}

#info-panel div:not(.lds-css):not(.ng-scope):not(.lds-rolling):not(.ldiv),
#info-panel button,
#info-panel strong {
  display: none;
}

.lds-css.left {
  margin-top: 15px;
}

.lds-css {
  position: relative;
  width: 82px;
  margin: 0 auto;
}

#active_pic{
  position: relative;
  margin: 0 auto 15px auto;
  width: 270px;
  height: 270px;
  min-height: 150px;
  max-height: 270px;
  border-radius: 2%;
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid #bbb;
}

#active-profile-img-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.img-nav {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 50px;
  background-color: #111;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 268px;

  opacity: 0;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

#img-left-nav {
  left: 0px;
}

#img-right-nav {
  right: 0px;
}

#active-profile-img-overlay:hover > .img-nav {
  opacity: 0.6;
}

.img-nav:hover {
  background-color: #000;
}

#active_name {
  display: inline-block;
  font-weight: bold;
}

#active_age {
  display: inline-block;
}

#active_about {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 5px;
}

#active_events {
  margin-bottom: auto;
}

.active_event {
  display: block;
  margin-bottom: 5px;
  color: #00E;
  text-decoration: underline;
}

.active_event:visited {
  color: #0084ff;
  text-decoration: underline;
}

.remove_friend {
  height: 31px;
  min-height: 31px;
  max-height: 31px;
  margin: 15px auto;
  padding: 5px;
  cursor: pointer;
  background-color: #c33636;
  border: 3px outset #c33636;
  color: white;
}

.remove_friend:hover {
  background-color: #c93c3c;
  border: 3px outset #c93c3c;;
}

.remove_friend:active {
  border: 3px inset #c93c3c;
}
