html, body {
  height: 80%;
}

div.page-content{
    clear: both;
    display: flex;
    width: 80%;
    min-width: 923px;
    height: 100%;
    margin: 50px auto;
    flex-direction: row;
}

div.my-events {
    flex: 30%;
    height: 100%;
    display: inline-block;
    min-width: 200px;
    border-right: solid;
    border-width: 2px;
    padding-right: 10px;
    margin-right: 10px;
}

.joined-event {
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    background: #99e6ff;
}

.joined-event:hover {
    background: #66d9ff;
}

.no-events {
    margin-right: 20px;
}

div.event-search {
    flex: 70%;
    padding-left: 10px;
    margin-left: 10px;
    height: 100%;
}

.search-container {
  /*float: right; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.search-container form {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#search-box {
    width: 100%;
}

.search-container input[type=text] /*, .event-search select */ {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

.search-container button:hover {
  background: #ccc;
}

.search-container button {
  
  padding: 6px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
}

#results-table {
    margin-top: 10px;
}

/* Create loading icon
   Credit: https://www.w3schools.com/howto/howto_css_loader.asp */
#loading-icon {
    border: 9px solid #e6e6e6;
    border-top: 9px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: inline-block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
