html {
  height: 100%;
  width: 100%;
}

body {
  float: left;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.button {
    background-color: DodgerBlue;
    border: 2px outset DodgerBlue;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
}

.button:active {
    border: 2px inset DodgerBlue;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

/* loading icon stuff from http://loading.io */
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 154px;
  height: 154px;
  border: 14px solid #3f3f3f;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 82px !important;
  height: 82px !important;
  -webkit-transform: translate(-41px, -41px) scale(0.41) translate(41px, 41px);
  transform: translate(-41px, -41px) scale(0.41) translate(41px, 41px);
}

