html {
  height: 100%;
  width: 100%;
}

body {
  float: left;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.button {
    background-color: DodgerBlue;
    border: 2px outset DodgerBlue;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
}

.button:hover {
    border: 2px inset DodgerBlue;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
