* {
  box-sizing: border-box;  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  min-width: 865px;
  height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  flex-grow: 1;
}

/* Concert info stuff */

#concert-info-panel {
  display: flex;
  width: 300px;
  padding: 25px;
  border-right: 1px solid black;
  flex-direction: column;
  background-color: #f4f4ff;
}

#concert-info-subpanel {
  position: relative;
  margin-bottom: auto;
}

#tm-link {
  text-align: center;
}

.tm-img {
  display: inline-block;
  margin-left: -20px;
  width: 200px;
  height: auto;
}

h4 {
  margin: 0;
  font-weight: normal;
}

#artist-name {
  margin: 15px 0;
}

/* Matching panel stuff */

#matching-panel {
  display: flex;
  flex-grow: 1;
  padding: 25px;
}

.matching-subpanel {
  display: none;
}

#no-users-left {
  display: none;
  margin: 0 auto;
}

#matching-subpanel-joined {
  margin: auto;
}

#matching-subpanel-2 {
  display: none;
  margin: 0 auto;
  min-height: 450px;
  min-height: 450px;
  min-width: 581px;
  max-width: 581px;
  height: 450px;
  width: 581px;
}

#matching-card-col-1 {
  display: inline-block;
  float: left;
  height: 450px;
  width: 380px;
}

#matching-card-col-2 {
  display: inline-block;
  float: left;
  background-color: #f4f4ff;
  width: 200px;
  height: 400px;
  margin-top: 12px;
  padding: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 3px 3px 0;
}

#active-profile-img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#active-profile-img-wrap {
  display: inline-block;
  position: relative;
  height: 380px;
  width: 380px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 3px 3px 0 0;
  background-color: black;
}

#active-profile-img-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.img-nav {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 50px;
  background-color: #111;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 378px;

  opacity: 0;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

#img-left-nav {
  left: 0px;
}

#img-right-nav {
  right: 0px;
}

#active-profile-img-overlay:hover > .img-nav {
  opacity: 0.6;
}

.img-nav:hover {
  background-color: #000;
}

#active-profile-info {
  position: relative;
  text-align: left;
  padding: 10px;
  margin-top: -8px;
  background-color: white;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  border-top: none;
  width: 380px;
  background-color: #f4f4ff;
}

#voting-controls {
  text-align: center;
}

.vote-btn {
  display: inline-block;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
  padding: 8px;
  float: center;
  cursor: pointer;
  background-color: #f4f4ff;

  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

#vote-up {
  color: green;
  border-bottom-left-radius: 3px; 
}

#vote-up:hover {
  background-color: #ded;
}

#vote-down {
  color: red;
  border-right: 1px solid black;
  border-bottom-right-radius: 3px; 
  margin-left: -4px;
}

#vote-down:hover {
  background-color: #fdd;
}

.btn {
  font-weight: bold;
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
}

#leave_event_btn {
  display: none;
  margin-top: 25px;
  background-color: #c33636;
  border: 3px outset #c33636;
  color: white;
}

#leave_event_btn:hover {
  background-color: #c93c3c;
  border: 3px outset #c93c3c;;
}

#leave_event_btn:active {
  border: 3px inset #c93c3c;
}

#matching-subpanel-1 {
  width: 400px;
  margin: auto;
}

#join_event_thumbnail {
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
}

#join_event_thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 198px;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 1px solid #ccc;
}

#join_event_btn {
  background-color: DodgerBlue;
  border: 3px outset DodgerBlue;
  color: white;
  font-size: 20px;
  width: 100%;
  margin-top: 25px;
}

#join_event_btn:hover {
  background-color: #2495ff;
  border: 3px outset #2495ff;
}

#join_event_btn:active {
  border: 3px inset #2495ff;
}

/* loading icon stuff from http://loading.io */
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 154px;
  height: 154px;
  border: 14px solid #3f3f3f;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 82px !important;
  height: 82px !important;
  -webkit-transform: translate(-41px, -41px) scale(0.41) translate(41px, 41px);
  transform: translate(-41px, -41px) scale(0.41) translate(41px, 41px);
}

#matching-card-col-2 h1 {
  margin: 0 0 10px 0;
}

#active-profile-about {
  height: 332px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
}
