div.nav-bar {
    display: flex;
    align-items: center;
    background: #9EC4F8;
    min-height: 80px;
    flex-direction: row;
}

.concert-buddies {
    display: flex;
    font-size: 36px;
    margin: 0 20px;
}

.nav-buttons {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    order: 2;
    /* Combined with auto left margin, this gives the effect of float:right */
    align-items: center;
}

.chat-box,
.profile-box,
.logout-box {
    height: 100%;
}

.chat-box button,
.profile-box button,
.logout-box button {
    height: 100%;
    margin-right: 15px;
    font-size: 20px;
    color: #111;
    border: none;
    border-radius: 5px;
    background: none;
}

.chat-box button:hover,
.profile-box button:hover,
.logout-box button:hover {
  border: none;
  border-radius: 5px;
  background: #90B1DD;
}
