div.nav-bar {
    display: flex;
    align-items: center;
    background: #9EC4F8;
    min-height: 80px;
    flex-direction: row;
}

.concert-buddies {
    display: flex;
    font-size: 36px;
    margin: 0 20px;
}

.nav-buttons {
    display: flex;
    align-self: stretch;
    margin-left: auto;
    order: 2;
    /* Combined with auto left margin, this gives the effect of float:right */
    align-items: center;
}

.chat-box,
.profile-box,
.logout-box {
    height: 100%;
}

.chat-box button,
.profile-box button,
.logout-box button {
    height: 100%;
    font-size: 2.5vh;
    width: 20vh;
}
