body {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 780px;
  height: 100%;
  width: 100%;
}

div.page-content{
    clear: both;
    display: flex;
    width: 70%;
    min-width: 923px;
    height: 100%;
    margin: 50px auto;
    flex-direction: column;
}

div.profile-pics {
    flex-grow: 1;
    display: inline-block;
    width: 100%;
}

div.profile-desc {
    flex-grow: 1;
    width: 100%;
    margin-top: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header h2 {
    width: 25%;
}

button {
    float: right;
}

br {
    clear: both;
}

.carousel-wrapper {
    display: inline;
}

.img-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 4px ridge;
}

.no-images {
    display: flex;
    justify-content: center;
}

.image-card {
    position: relative;
    min-width: 200px;
    min-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    border: 2px dotted;
}

.remove-image-btn {
    position: absolute;
    opacity: 0;
    display: inline;
    bottom: 10px;
    transition: .5s ease;
    clear: both;
}

.image-card:hover .remove-image-btn{
    opacity: 1;
    z-index: 1;
}


textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 118px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 20px 50px;
}

::-webkit-input-placeholder {
    text-align: center;
    line-height: 78px;
}

/* Create loading icon
   Credit: https://www.w3schools.com/howto/howto_css_loader.asp */
#loading-icon {
    border: 9px solid #e6e6e6;
    border-top: 9px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: inline-block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
