div.page-content{
    clear: both;
    display: flex;
    width: 80%;
    max-width: 900px;
    align-items: center;
    margin: 50px auto;
    flex-direction: row;
}

div.blurb {
    flex: 30%;
    display: inline-block;
    padding-right: 20%;
}

div.sign-up-form {
    flex: 50%;
}

input {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

input[type="radio"] {
  margin-right: 5px;
}

select {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.log-in-form {
    /*float: right;*/
    margin-left: auto;
    order: 2; /* Combined with auto left margin, this gives the effect of float:right */
    display: flex;
    margin: auto;
    align-items: center;
    margin-right: 20px;
}

.log-in-form div {
    flex: 33%;
}

.error-box label, .error-box p {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

#error-msg {
    white-space: nowrap;
    color: red;
    margin-right: 15px;
}

.email-box label, .email-box input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.password-box label, .password-box input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.submit-box label, .submit-box input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}
